{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>

    <p>Havent Sighned up yet?</p>
    <a href="{% url 'register' %}">Sign up</a>
</div>

{% else %}

<div>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    <p>Already Sighned up yet?</p>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}

{% endblock content %}



